.logo {
    font-size: 27px;
    font-weight: 300;
    color: #222222;
    letter-spacing: 0.03em;
    line-height: 32px;
    text-transform: uppercase;
    text-decoration: none;
    background: url(#{$imagesPath}logo.png) no-repeat;
    height: 51px;
    display: inline-flex;
    align-items: center;
    padding-left: 72px;
    span {
        font-weight: 900;
        text-align: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: $mainColor;
        transition-duration: 0.4s;
    }
    &:hover span {
        transform: rotate(360deg);
    }
}
